<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<header class="main-header clearfix">
 <div class="container">
    <p class="landrick__logo">Landrick</p>
     <nav class="nav">
         <ul class="nav__items">
             <li class="nav__item">
                 <a href="#" class="nav__link">Home</a>
             </li>
             <li class="nav__item dropdown">
                 <a href="#" class="nav__link">Landing
                     <i class="fas fa-caret-down"></i>
                 </a>
                 <ul class="dropdown__content">
                     <li class="nav__item">
                         <a href="#" class="nav__link">One</a>
                     </li>
                     <li class="nav__item">
                         <a href="#" class="nav__link">Two</a>
                     </li>
                     <li class="nav__item">
                         <a href="#" class="nav__link">Three</a>
                     </li>
                     <li class="nav__item">
                         <a href="#" class="nav__link">Five</a>
                     </li>
                 </ul>
             </li>
             <li class="nav__item">
                 <a href="#" class="nav__link">Page</a>
             </li>
             <li class="nav__item">
                 <a href="#" class="nav__link">Docs</a>
             </li>
         </ul>
     </nav>
     <button class="btn btn-theme btn-buynow">Buy Now</button>
 </div>
</header>
<section class="about">
    <div class="row">
        <div class="about__title">
            <p class="about__title--content"> Conduct More Customer In A Better Way</p>
        </div>
    </div>
    <div class="small">
        <div class="about__content">
            <p class="about_content--text">Launch your campaign and benefit from our expertise on designing and managing
                conversion centered bootstrap4 html page.</p>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-theme btn-trial">Start Free Trial</button>
    </div>
    <div class="container about__image">
        <img src="~images/1.146ca55c.png" class="about__image--item" alt="">
    </div>
</section>
<section class="client">
    <div class="row">
        <div class="client__title">
            <p class="client__title--content"> Our Trusted Clients</p>
        </div>
    </div>
    <div class="small">
        <div class="client__content">
            <p class="client_content--text">Start working with Landrick that can provide everything you need to generate
                awareness, drive traffic, connect.</p>
        </div>
    </div>
    <div class="container">
        <ul class="client__images">
            <li class="client__image"><img src="~images/client/client_1.png" class="client__image--item" alt=""></li>
            <li class="client__image"><img src="~images/client/client_2.png" class="client__image--item" alt=""></li>
            <li class="client__image"><img src="~images/client/client_3.png" class="client__image--item" alt=""></li>
            <li class="client__image"><img src="~images/client/client_4.png" class="client__image--item" alt=""></li>
            <li class="client__image"><img src="~images/client/client_5.png" class="client__image--item" alt=""></li>
            <li class="client__image image-last"><img src="~images/client/client_6.png" class="client__image--item"
                                                      alt=""></li>
        </ul>
    </div>
</section>
<section class="svg">
    <div class="container">
        <div class="svg__param">
            <div class="svg__icon">
                <img src="~images/user/user.cf9b9fe5.svg" class="svg__icon" alt="">
            </div>
            <div class="svg__custom--title">
                <p class="svg__title">Easy To Use</p>
            </div>
            <div class="svg__user--content">
                <p class="svg__content">Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend
                    aenean elementum semper.</p>
            </div>
        </div>
        <div class="svg__param">
            <div class="svg__icon--reports">
                <img src="~images/user/calendar.3f528a38.svg" class="svg__icon" alt="">
            </div>
            <div class="svg__custom--title">
                <p class="svg__title">Daily Reports</p>
            </div>
            <div class="svg__user--content">
                <p class="svg__content">Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend
                    aenean elementum semper.</p>
            </div>
        </div>
        <div class="svg__sandclock">
            <div class="svg__icon">
                <img src="~images/user/sand-clock.a62cd0a5.svg" class="svg__icon" alt="">
            </div>
            <div class="svg__custom--title">
                <p class="svg__title">Real Time Zone</p>
            </div>
            <div class="svg__user--content">
                <p class="svg__content">Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend
                    aenean elementum semper.</p>
            </div>
        </div>
    </div>
</section>
<section class="product clearfix">
    <img src="~images/1.146ca55c.png" class="product__image--left" alt="">
    <div class="product__content--right">
       <div class="product_content--fix">
           <div class="product__title ">
               <p class="product__title--params ">Great Product Analytics With Real Problem </p>
           </div>
           <p class="product__params ">
               Due to its widespread use as filler text for layouts, non-readability is of great importance: human
               perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters
               visual impact.
           </p>
           <div class="product__params">
               <i class="fas fa-check-circle product__icon--color"></i> Digital Marketing Solutions for Tomorrow
           </div>
           <div class="product__params">
               <i class="fas fa-check-circle product__icon--color"></i> Create your own skin to match your brand
           </div>
           <a href="#" class="product_findmores">Find Out More ></a>
       </div>
    </div>
</section>
<section class="product clearfix">
    <div class="product__content--left">
        <div class="product__title ">
            <h5 class="product__title--params">Get Notified About Importent Email </h5>
        </div>
        <p class="product__params ">
            This prevents repetitive patterns from impairing the overall visual impression and facilitates the
            comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively
            realistic.
        </p>
        <div class="product__params">
            <i class="fas fa-check-circle product__icon--color"></i> Digital Marketing Solutions for Tomorrow
        </div>
        <div class="product__params">
            <i class="fas fa-check-circle product__icon--color"></i> Create your own skin to match your brand
        </div>
        <a href="#" class="product_findmores">Find Out More ></a>
    </div>
    <div class="product__image--right">
        <img src="~images/app_development_SVG.1744d3c9.svg" class="product__app-image" alt="">
    </div>
</section>
<section class="landrick clearfix">
    <div class="row">
        <div class="landrick__title">
            <p class="landrick__title--content"> Whats Our Clients Said About Landrick Project</p>
        </div>
    </div>
    <div class="small">
        <div class="landrick__content">
            <p class="landrick_content--text">Launch your campaign and benefit from our expertise on designing and
                managing
                conversion centered bootstrap4 html page.</p>
        </div>
    </div>
    <div class="container landrick__profile--images">
        <div class="landrick__male">
            <img src="~images/profile_1.jpg" class="landrick_profile--image">
            <div class="landrick__profile--contents">
              <div class="landrick__profile--content">
                  <i class="fas fa-star star-icon"></i> <i class="fas fa-star star-icon"></i> <i
                      class="fas fa-star star-icon"></i> <i class="fas fa-star star-icon"></i> <i
                      class="fas fa-star star-icon"></i>
                  <p class="profile__content--text">" It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. "</p>
                  <p class="profile__content--name">- Thomas Israel</p>
              </div>
            </div>
        </div>
        <div class="landrick__female">
            <img src="~images/profile_2.jpg" class="landrick_profile--image">
            <div class="landrick__profile--contents">
                <div class="landrick__profile--content">
                    <i class="fas fa-star star-icon"></i> <i class="fas fa-star star-icon"></i> <i
                        class="fas fa-star star-icon"></i> <i class="fas fa-star star-icon"></i> <i
                        class="fas fa-star star-icon"></i>
                    <p class="profile__content--text">" One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "</p>
                    <p class="profile__content--name">- Barbara McIntosh</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="employee clearfix">
    <div class="row">
        <div class="employee__title">
            <p class="employee__title--content"> Whats Our Clients Said About Landrick Project</p>
        </div>
    </div>
    <div class="small">
        <div class="employee__content">
            <p class="employee__content--text">Launch your campaign and benefit from our expertise on designing and
                managing
                conversion centered bootstrap4 html page.</p>
        </div>
    </div>
    <div class="small employee__button">
            <button class="btn btn-theme btn-getstarted">Get Started Now</button>
        <button class="btn btn-theme btn-freetrial">Free Trial</button>
    </div>
</section>
<footer class="footer clearfix">
    <div class="container">
        <div class="footer__content">
            <div class="footer__landrick">
                <p class="footer__title">Landrick</p>
                <p class="footer_content--item">Start working with Landrick that can provide everything you need to
                    generate awareness, drive traffic, connect.</p>
            </div>
            <div class="footer__company">
                <p class="footer__title">Company</p>
                <ul class="footer_content--items">
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> About us</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Services</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Team</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Pricing</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Features</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQ</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Blog</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Login</li>
                </ul>
            </div>
            <div class="footer__userfulllink">
                <p class="footer__title">Userfull Link</p>
                <ul class="footer_content--items">
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Privacy Protection</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Safe Payments</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Terms of Services</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Documentation</li>
                    <li class="footer_content--item"><i class="fa fa-caret-right" aria-hidden="true"></i> Privacy Policy</li>
                </ul>
            </div>
            <div class="footer__newsletter">
                <p class="footer__title">Newsletter</p>
                <ul class="footer_content--items">
                    <li class="footer_content--item">Sign up and receive the latest tips via email.</li>
                    <li class="footer_content--item">Write your email</li>
                    <li class="footer_content--email"><a class="footer__email--title">Your email</a></li>
                    <button class="btn btn-theme btn-subscribe">Subscribe</button>
                </ul>
            </div>
        </div>

    </div>
    <div class="container clearfix" >
        <div class="footer__bottom--content">
            <p>Landrick. Develop by Themesbrand.</p>
        </div>
        <div class="footer__bottom--images">
            <img src="~images/footer/discover.png" class="footer__bottom--image">
            <img src="~images/footer/mastercard.png" class="footer__bottom--image">
            <img src="~images/footer/paypal.png" class="footer__bottom--image">
            <img src="~images/footer/visa.png" class="footer__bottom--image">
        </div>
    </div>
</footer>
</body>
</html>
