.container{
  display: flex;
  max-width: 1200px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}
.row{
  display: flex;
  max-width: 784px;
  padding-left: 208px;
  padding-right: 208px;
  margin-left: auto;
  margin-right: auto;
}
.small{
  display: flex;
  max-width: 570px;
  padding-left: 315px;
  padding-right: 315px;
  margin-left: auto;
  margin-right: auto;
}